    /*******VARABLES FOR COLORS AND FONTS*********/
$main: 'SourceSansRegular';
$italic: 'SourceSansItalic';
$bold: 'SourceSansbold';
$light:'SourceSansLight';
$bolder: 'SourceSansbolder';

    /*****COLORS*******/
$blue:#008ed6;
$dark:#15141a;
$heading: #1a1a1a;
$text: #999999;
$ligt: #e8e7e8;
$hover: #0069d9;
$bg_form: #ededed;
$pic_border: #e0e0e0;
$bg_customize: #f2f2f2;
$form_border: #444348;
$footer: #444348;