/*****Fonts folder*******/
@font-face{
    font-family: 'SourceSansRegular';
    src: url('../fonts/SourceSansPro-Regular.woff')format('woff');
}
@font-face{
    font-family: 'SourceSansLight';
    src: url('../fonts/SourceSansPro-Light.woff')format('woff');
}
@font-face{
    font-family: 'SourceSansItalic';
    src: url('../fonts/SourceSansPro-Italic.woff')format('woff');
}
@font-face{
    font-family: 'SourceSansbold';
    src: url('../fonts/SourceSansPro-SemiBold.woff')format('woff');
}
@font-face{
    font-family: 'SourceSansbolder';
    src: url('../fonts/SourceSansPro-Bold.woff')format('woff');
}