/*****Fonts folder*******/

@font-face {
  font-family: 'SourceSansRegular';
  src: url("../fonts/SourceSansPro-Regular.woff") format("woff");
}

@font-face {
  font-family: 'SourceSansLight';
  src: url("../fonts/SourceSansPro-Light.woff") format("woff");
}

@font-face {
  font-family: 'SourceSansItalic';
  src: url("../fonts/SourceSansPro-Italic.woff") format("woff");
}

@font-face {
  font-family: 'SourceSansbold';
  src: url("../fonts/SourceSansPro-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'SourceSansbolder';
  src: url("../fonts/SourceSansPro-Bold.woff") format("woff");
}

/*******VARABLES FOR COLORS AND FONTS*********/

/*****COLORS*******/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */

:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/*map-special!*/

/********MOBILE(sm)*********/

/*********CARD ADAPTATION*********/

/*******TABLET(md)*******/

/*********LG-LARGE**********/

/*************  LARGE SCREEN (XL+) *****************/

/*SLIDERS-ADAPTATION*/

body {
  font-family: "SourceSansRegular";
  scroll-behavior: smooth;
}

.container {
  max-width: 1170px;
}

/*************BLOCK STYLES**************/

header {
  background: #15141a url("../img/header_bg.png") center/cover no-repeat;
}

header .container {
  padding: 0 15px;
}

section.features {
  background: #fff;
  margin-top: -2px;
  padding: 54px 0 50px;
  border-bottom: 1px solid #e0e0e0;
}

section.details {
  padding: 66px 0 17px;
}

section.customize {
  padding: 30px 0 20px;
  background: #f2f2f2;
}

section.slider {
  background: #15141a url("../img/bg_slider_requests.png") center/cover no-repeat;
  padding: 57px 0 1px;
}

section.like {
  background: #15141a;
  padding: 61px 15px 59px;
}

section.cards {
  padding: 53px 0 30px;
}

section.contact-form {
  background: #ededed;
  padding: 53px 0 0;
}

footer {
  margin-top: -4px;
  background: #15141a;
  position: relative;
  padding: 40px 0;
}

/*************ELEMENTS STYLES**************/

/*1_navigation*/

.header__menu {
  padding: 19px 0;
}

.header_burder {
  cursor: pointer;
  margin: 10px 0;
  display: none;
  border-radius: 4px;
}

.header_burder svg {
  fill: #fff;
  margin: 10px 0 4px 0;
}

nav {
  width: 446px;
  /**links**/
}

nav a {
  height: 16px;
  color: #fffefe;
  font-family: "SourceSansbold";
  font-size: 16px;
  font-weight: 400;
  line-height: 58px;
  padding: 10px 0;
}

nav a:hover {
  text-decoration: none;
  color: #ffffff;
  background: url("../img/border-bottom.svg") bottom left/42px 2px no-repeat;
}

.header__logo {
  padding: 6px 2px 0;
}

/*text'n'images*/

.header__content {
  padding: 25px 0 0;
}

.logo__text {
  font-size: 8.78px;
  font-family: "SourceSansLight";
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 1.26px;
  color: #999999;
}

.header__text {
  padding: 18px 0 0;
}

.header__subtitle {
  margin-bottom: 1px;
  line-height: 56px;
}

.header__paragraph {
  padding: 24px 0 61px;
  letter-spacing: 0.02px;
}

.header__iphones {
  position: relative;
  right: -14px;
  bottom: 0;
  max-width: 505px;
  width: 100%;
  height: auto;
}

/***SECTION *features* **/

.title__features {
  margin-bottom: 55px;
  background: url("../img/border-bottom.svg") bottom center/42px 2px no-repeat;
  padding: 0px 0 32px;
  line-height: 0;
  letter-spacing: 0.1px;
  line-height: 48px;
}

.features__item__title {
  font-size: 24px;
  font-family: "SourceSansRegular";
  color: #1a1a1a;
  padding: 30px 0 13px;
}

.features__item {
  text-align: center;
  padding: 20px;
}

.subtitle__features {
  line-height: 33px !important;
}

.features__pic__wrap {
  border: 1px solid #e0e0e0;
  border-radius: 50px;
  margin: 0 auto;
  width: 90px;
  height: 90px;
}

.features__item__text {
  margin: 0 auto;
  padding: 0 10px;
}

/****SECTION_DETAILS_BEAUTIFUL*******/

.details__container {
  padding: 0 15px;
}

.iphones__details {
  max-width: 510px;
  width: 100%;
}

.details__img__wrap {
  padding-right: 55px;
}

.details__text {
  padding: 43px 0 0 15px;
}

.subtitle__details {
  padding: 8px 0;
}

.title__details {
  padding: 8px 0 30px;
  background: url("../img/border-bottom.svg") bottom left/42px 2px no-repeat;
}

.details__paragraph {
  padding: 25px 0;
}

/*imaged list*/

ul.img__list {
  font-size: 18px;
}

ul.img__list li {
  padding: 9px 26px;
}

ul.img__list #cup {
  background: url("../img/details-ico1.svg") no-repeat left center;
}

ul.img__list #mse {
  background: url("../img/details_ico2.svg") no-repeat 3px center;
}

ul.img__list #nrg {
  background: url("../img/details_ico3.svg") no-repeat 3px center;
}

ul.img__list #spd {
  background: url("../img/details_ico4.svg") no-repeat left center;
}

/*********SECTION CUSTOMIZE**********/

/***styles repests from  BEAUTIFUL**/

.iphone__customize {
  position: relative;
  left: 4px;
  top: 3px;
}

.beautiful__container {
  padding: 0;
}

.beautiful__text {
  padding: 0 0 27px 15px;
}

.title__customize {
  padding: 8px 0 32px;
  letter-spacing: 0.1px;
}

.beautiful__paragraph {
  padding: 23px 0;
  letter-spacing: 0.01px;
}

.customize__img__wrap {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*SLIDER REQUESTS PRICING */

.slider__container {
  padding: 0;
}

.slider__item {
  color: #ffffff;
  padding: 0 16px 0 14px;
}

.slider__subtitle {
  padding: 5px 0;
  letter-spacing: 1.5px !important;
}

.slider__title {
  color: #fff !important;
  padding: 11px 0 33px;
  background: url("../img/border-bottom.svg") bottom center/42px 2px no-repeat;
  margin-bottom: 40px;
}

.slider__wrapper {
  padding: 47px 0;
}

.slider__text__message {
  color: #ffffff;
  font-family: "SourceSansItalic";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.slider__info {
  padding: 20px 0;
}

.slider__name {
  font-size: 16px;
  font-family: "SourceSansLight";
  padding: 0 24px;
}

.slider__portrait {
  display: block;
  margin: 3px 0 0 1px;
}

.slider__position {
  text-transform: uppercase;
  font-family: "SourceSansbold";
  font-size: 14px;
  letter-spacing: 0.2px;
  padding-top: 12px;
  display: block;
}

.slick-track {
  margin-bottom: 53px;
}

/*******LIKE-ROW*******/

.heading_question {
  color: #fff !important;
  line-height: 10px;
  padding-bottom: 5px;
  letter-spacing: 0.1px;
}

.get_it__heading {
  display: inline-block;
  font-size: 36px;
  font-family: "SourceSansLight";
  font-weight: 100;
  color: #fff;
  letter-spacing: 0.01px;
}

.like__container {
  padding: 0 15px !important;
}

/************CARD FORM************/

.title_products {
  padding: 11px 0 33px;
  background: url("../img/border-bottom.svg") bottom center/42px 2px no-repeat;
  margin-bottom: 40px;
}

.card__title {
  padding: 11px 0 33px;
  background: url("../img/border-bottom.svg") bottom center/42px 2px no-repeat;
  margin-bottom: 40px;
}

/*/ card item  /*/

.title__products {
  color: #15141a !important;
  margin-bottom: 100px;
}

.card__link:hover {
  text-decoration: none;
}

.card__link:hover .card__header {
  color: #008ed6;
}

.card__link:hover .card__price {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: #008ed6;
}

.card__link:hover .price__value,
.card__link:hover p.timing {
  color: #fff;
}

.card__link:hover .card__btn {
  background: #008ed6;
  color: #fff;
}

.card__body {
  margin: 30px auto;
  max-width: 272px;
  text-align: center;
  border: 1px solid #e0e0e0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.card__header {
  text-transform: uppercase;
  font-size: 24px;
  font-family: "SourceSansbolder";
  border-bottom: 1px solid #e0e0e0;
  color: #15141a;
  line-height: normal;
  padding: 21px 0 17px;
}

.card__price {
  border-bottom: 1px solid #e0e0e0;
  padding: 32px 0;
}

.price__value {
  color: #15141a;
  font-size: 60px;
  font-family: "SourceSansbold";
  display: inline-block;
  margin: 0 auto;
}

.price__value span {
  display: inline-block;
  font-size: 27px;
  vertical-align: super;
}

.card__text {
  padding: 45px  30px 11px;
}

.card__text span.blue {
  color: #008ed6;
}

.card__btn {
  margin: 30px 0 29px;
  color: #008ed6;
  width: 160px;
  max-width: 160px;
  height: 50px;
  font-family: "SourceSansbolder";
  font-size: 14px;
  padding: 13px 0 13px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 3px rgba(3, 3, 3, 0.1);
          box-shadow: 0 0 3px rgba(3, 3, 3, 0.1);
}

.card__btn:hover {
  background: #008ed6;
  color: #fff;
}

/***********FORM***********/

.contact__item {
  text-align: center;
}

.contact__row {
  padding: 19px 0;
}

.img__wrap {
  min-height: 34px;
}

.contact__text {
  margin: 24px auto;
}

/*/contact form styling/*/

.contact__form {
  z-index: 1;
  position: relative;
  background: #15141a;
  max-width: 770px;
  width: 100%;
  margin: 26px auto 0;
  padding: 49px 85px 29px 66px;
}

.contact__form .contact-column {
  padding: 0;
}

.contact__form input {
  padding: 21px 15px 27px;
}

.contact__form input,
.contact__form textarea {
  color: gray !important;
  max-width: 300px;
  width: 100%;
  margin: 10px 15px;
  padding: 24px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  border-color: #444348;
}

.contact__form input::-webkit-input-placeholder, .contact__form textarea::-webkit-input-placeholder {
  text-transform: uppercase;
  font-family: "SourceSansbolder";
  font-size: 14px;
}

.contact__form input::-moz-placeholder, .contact__form textarea::-moz-placeholder {
  text-transform: uppercase;
  font-family: "SourceSansbolder";
  font-size: 14px;
}

.contact__form input:-ms-input-placeholder, .contact__form textarea:-ms-input-placeholder {
  text-transform: uppercase;
  font-family: "SourceSansbolder";
  font-size: 14px;
}

.contact__form input::-ms-input-placeholder, .contact__form textarea::-ms-input-placeholder {
  text-transform: uppercase;
  font-family: "SourceSansbolder";
  font-size: 14px;
}

.contact__form input::placeholder,
.contact__form textarea::placeholder {
  text-transform: uppercase;
  font-family: "SourceSansbolder";
  font-size: 14px;
}

.contact__form textarea {
  padding: 17px 20px;
  border-radius: 4px;
  min-height: 190px;
  resize: none;
}

.contact__form textarea:focus {
  background: #fff;
}

/***MAP***/

div.map {
  margin-top: -132px;
  height: 442px;
}

div.map iframe {
  width: 100%;
  height: 440px;
}

/*/ footor /*/

div.copyright {
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.7px;
}

div.copyright a {
  color: #444348;
}

div.media,
div.copyright {
  margin: 5px;
  padding: 13px 0;
}

footer div.media {
  max-width: 219px;
  margin: 0 auto;
}

footer div.media i {
  font-weight: 500;
  font-size: 18px;
  color: #444348;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

footer div.media i:hover {
  color: #008ed6;
}

footer div.media i .fa-linkedin-in {
  font-size: 25px;
}

/*******GENERAL COMPONENTS*******/

.title {
  color: #ffffff;
  font-family: "SourceSansbold";
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0;
}

.title__dark {
  font-size: 36px;
  font-family: "SourceSansbold";
  color: #1a1a1a;
}

.subtitle {
  font-family: "SourceSansbold";
  color: #008ed6;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.paragraph {
  font-weight: 500;
  line-height: 26px;
  font-family: "SourceSansRegular";
  color: #999999;
  font-size: 18px;
}

.btn-toolbar {
  max-width: 340px;
  width: 100%;
}

.btn-outline-secondary,
.btn-primary {
  width: 160px;
  height: 50px;
  color: #ffffff;
  font-family: "SourceSansbold";
  font-size: 14px;
  padding: 13px 0 13px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 3px rgba(3, 3, 3, 0.1);
          box-shadow: 0 0 3px rgba(3, 3, 3, 0.1);
}

.btn-outline-secondary:hover,
.btn-primary:hover {
  background: #0069d9;
}

.btn-primary {
  background: #008ed6;
}

.btn-outline {
  border: none;
}

.contact__button {
  width: 160px;
  height: 50px;
  color: #ffffff;
  font-family: "SourceSansbold";
  font-size: 14px;
  padding: 13px 0 13px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 3px rgba(3, 3, 3, 0.1);
          box-shadow: 0 0 3px rgba(3, 3, 3, 0.1);
  background: #008ed6;
  border: none;
  outline: none !important;
  border-radius: 4px;
  margin: 11px 7px;
}

/*********STYLES FOR DOTS SLIDER*********/

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 55px 0 0;
  padding: 1rem 0;
  list-style-type: none;
}

.slick-dots li {
  margin: 0 0.75rem;
  outline: none;
}

.slick-dots button {
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  border: 1px solid #fafafa;
  padding: 0;
  border-radius: 100%;
  background: transparent;
  outline: none;
  text-indent: -9999px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.slick-dots li.slick-active button {
  background-color: #fff;
  -webkit-transform: scale(2.3);
      -ms-transform: scale(2.3);
          transform: scale(2.3);
}

@media (max-width: 1220px) {
  header {
    padding: 0 15px;
  }

  header .container {
    padding: 0 15px;
  }

  section.features {
    padding: 30px 0 30px;
  }

  .features__container {
    padding: 0 15px;
  }

  .features__item {
    text-align: center;
    padding: 20px 0;
  }

  .subtitle__features {
    line-height: 5px !important;
  }

  .title__features {
    padding: 10px;
    margin: 0 0 25px;
  }

  .features__pic__wrap {
    width: 60px;
    height: 60px;
  }

  .features__item__title {
    padding: 10px 0;
  }

  /*****SECTION DETAILS******/

  section.details {
    padding: 40px 0 17px;
  }

  .details__img__wrap {
    padding: 0;
  }

  .details__text {
    padding-top: 20px;
  }

  .subtitle__details {
    padding: 8px 0;
  }

  .title__details {
    padding: 8px 0 30px;
    background: url("../img/border-bottom.svg") bottom left/42px 2px no-repeat;
  }

  .details__paragraph {
    padding: 15px 0;
  }

  .details__container {
    padding: 0 15px;
  }

  /*imaged list*/

  ul.img__list {
    font-size: 16px;
  }

  ul.img__list li {
    padding: 5px 26px;
  }

  .iphone__customize {
    width: 100%;
    height: auto;
  }

  .beautiful__container {
    padding: 0 15px;
  }

  .iphone__customize {
    position: static;
  }

  /***SLIDESHOW REQUEST*****/

  section.slider {
    padding: 25px 15px;
  }

  .slider__wrapper {
    padding: 0;
  }

  .slider__container {
    padding: 15px 0;
  }

  .slick-slide {
    min-height: 230px !important;
  }

  .like__container {
    padding: 0 15px;
  }

  /******PRODUCTION******/

  section.cards {
    padding: 0 15px;
  }

  /********form********/

  section.contact-form {
    padding: 90px 0;
  }

  .contact__container {
    padding: 0 15px;
  }

  .contact__item {
    padding: 0px;
  }

  div.map {
    margin-top: 0;
  }

  /**********CARDS*********/

  .card__body {
    max-width: 200px;
    margin: 20px auto;
  }

  .card__header {
    padding: 15px 0 15px;
    font-size: 20px;
  }

  .card__price {
    padding: 15px 0;
  }

  .price__value {
    font-size: 40px;
  }

  .price__value span {
    display: inline-block;
    font-size: 18px;
    vertical-align: super;
  }

  .card__text {
    padding: 10px;
  }

  .card__btn {
    margin: 15px;
  }

  /*******GENERAL ELEMENTS*******/

  .subtitle {
    line-height: normal;
    letter-spacing: 1.1;
  }

  .title {
    font-size: 36px;
    line-height: normal;
  }

  .title__dark {
    font-size: 28px;
  }

  .paragraph {
    font-size: 16px;
    line-height: normal;
  }

  .get_it__heading {
    font-size: 28px;
  }
}

@media (max-width: 991.98px) {
  header {
    padding: 0 15px;
  }

  header .container {
    padding: 0 15px;
  }

  .place-card {
    top: 200px !important;
    left: 0;
  }

  .heading_question {
    max-width: 400px;
    width: 100%;
    line-height: 30px;
  }

  .slick-dots {
    margin: 10px 0 0;
  }

  .slick-track {
    margin-bottom: 0;
  }

  .contact__text {
    padding: 0;
  }

  /*/card/*/

  .title__products {
    color: #15141a !important;
    margin-bottom: 100px;
  }

  .card__link:hover {
    text-decoration: none;
  }

  .card__link:hover .card__header {
    color: #008ed6;
  }

  .card__link:hover .card__price {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: #008ed6;
  }

  .card__link:hover .price__value,
  .card__link:hover p.timing {
    color: #fff;
  }

  .card__link:hover .card__btn {
    background: #008ed6;
    color: #fff;
  }

  .card__body {
    margin: 30px auto;
    max-width: 272px;
    text-align: center;
    border: 1px solid #e0e0e0;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .card__header {
    text-transform: uppercase;
    font-size: 24px;
    font-family: "SourceSansbolder";
    border-bottom: 1px solid #e0e0e0;
    color: #15141a;
    line-height: normal;
    padding: 21px 0 17px;
  }

  .card__price {
    border-bottom: 1px solid #e0e0e0;
    padding: 32px 0;
  }

  .price__value {
    color: #15141a;
    font-size: 60px;
    font-family: "SourceSansbold";
    display: inline-block;
    margin: 0 auto;
  }

  .price__value span {
    display: inline-block;
    font-size: 27px;
    vertical-align: super;
  }

  .card__text {
    padding: 45px  30px 11px;
  }

  .card__text span.blue {
    color: #008ed6;
  }

  .card__btn {
    margin: 30px 0 29px !important;
    color: #008ed6;
    width: 160px;
    max-width: 160px;
    height: 50px;
    font-family: "SourceSansbolder";
    font-size: 14px;
    padding: 13px 0 13px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    -webkit-box-shadow: 0 0 3px rgba(3, 3, 3, 0.1);
            box-shadow: 0 0 3px rgba(3, 3, 3, 0.1);
  }

  .card__btn:hover {
    background: #008ed6;
    color: #fff;
  }

  div.map {
    margin-top: 0;
  }
}

@media (max-width: 874px) {
  .slider__item {
    padding: 0 50px;
    width: 100%;
    margin: 0 auto;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-flow: column-reverse !important;
            flex-flow: column-reverse !important;
  }

  .slider__text__message {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    font-size: 18px;
  }

  .slider__info {
    margin: 0 auto;
    padding: 5px 0;
  }

  .slider__name {
    padding: 0 5px;
  }

  .slick-slide {
    min-height: 50px !important;
  }
}

@media (max-width: 767.98px) {
  /*********BURGER MENU SETTING**********/

  .header__logo {
    position: absolute;
    z-index: 5;
    margin-top: 10px;
  }

  .navbar__header {
    display: block;
    position: absolute;
    top: -480px;
    left: 0;
    padding-top: 50px;
    width: 100%;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    text-align: center;
    z-index: 4;
  }

  .navbar__header.active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    background: rgba(0, 0, 0, 0.9);
  }

  div.header_burder {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    padding: 5px;
    margin: 5px;
  }

  nav a {
    background: url("../img/border-bottom.svg") bottom center/42px 2px no-repeat;
  }

  nav a:hover {
    background: none;
  }

  .header__text {
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin: 0 auto;
  }

  .title__features {
    padding: 10px;
    margin: 0 0 20px;
    line-height: 1.1;
  }

  .header__paragraph {
    padding: 15px 0;
    font-size: 16px;
  }

  .features__item__text {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 290px;
  }

  .features__item__title {
    font-size: 18px;
  }

  /*slider*/

  .slider__item {
    padding: 0 10px;
  }

  .slider__title {
    padding: 15px 0;
    margin-bottom: 10px;
  }

  ul.slick-dots {
    margin-top: 20px;
  }

  /*****SECTION DETAILS*****/

  section.details {
    padding: 25px 0 17px;
  }

  .subtitle__details {
    padding: 4px 0;
  }

  .title__details {
    padding: 4px 0 15px;
    background: url("../img/border-bottom.svg") bottom left/42px 2px no-repeat;
  }

  .details__text {
    padding: 0 15px;
  }

  .details__paragraph {
    font-size: 16px;
    padding: 10px 0;
  }

  .subtitle__details {
    text-align: center;
  }

  .beautiful__text {
    text-align: center;
  }

  .title__customize {
    background: url("../img/border-bottom.svg") bottom center/42px 2px no-repeat;
  }

  .beautiful__text {
    padding: 15px;
  }

  /*********SLIDER REQEST***********/

  .slider__text__message {
    line-height: normal;
    font-size: 18px;
  }

  .heading_question {
    margin: 0 auto;
  }

  /*form*/

  .contact__form {
    padding: 10px;
    max-width: 500px;
  }

  .contact-column {
    margin: 0 auto;
  }

  .contact-column input,
  .contact-column textarea {
    margin: 10px auto;
  }

  .contact__text {
    margin: 10px 0 34px;
  }

  .title__contact {
    margin: 0 0 20px;
  }

  /*card-btn*/

  .card__btn {
    margin: 20px;
  }

  /*map*/

  div.map {
    margin-top: 0;
    height: 400px;
  }

  /*footer*/

  footer {
    margin-top: 15px;
    padding: 20px 0;
  }

  /*****GENERAL ELEMENTS*****/

  .title {
    font-size: 28px;
    line-height: normal;
  }

  .btn {
    width: 100%;
    margin: 5px auto;
  }

  .paragraph {
    font-size: 16px;
  }
}

@media (max-width: 657px) {
  .card__body {
    max-width: 200px;
    margin: 20px auto;
  }

  .card__header {
    padding: 15px 0 15px;
    font-size: 20px;
  }

  .card__price {
    padding: 15px 0;
  }

  .price__value {
    font-size: 40px;
  }

  .price__value span {
    display: inline-block;
    font-size: 18px;
    vertical-align: super;
  }

  .card__text {
    padding: 10px;
  }

  .card__btn {
    margin: 15px !important;
  }
}

@media (max-width: 575.98px) {
  .header__content {
    position: relative;
  }

  .header__text {
    max-width: 400px;
    width: 100%;
    z-index: 2;
    text-align: center;
    margin-bottom: 10px;
  }

  .header__iphones {
    position: absolute;
    max-width: 300px;
    bottom: 2px;
    opacity: 0.5;
    z-index: 0;
  }

  /*SECTION slider*/

  section.slider {
    padding-bottom: 0;
  }

  .slider__title {
    padding: 10px 0;
    margin-bottom: 0;
  }

  /******GENERAL ELEMENTS******/

  .title__dark,
  .title {
    font-size: 24px;
    line-height: normal;
  }

  .btn-toolbar {
    margin: 0 auto;
  }

  .features__item__text {
    margin: 0 auto;
    padding: 0 10px;
  }

  /**********cards**************/

  .card__body {
    max-width: 200px;
    margin: 20px auto;
  }

  .card__header {
    padding: 15px 0 15px;
    font-size: 20px;
  }

  .card__price {
    padding: 15px 0;
  }

  .price__value {
    font-size: 40px;
  }

  .price__value span {
    display: inline-block;
    font-size: 18px;
    vertical-align: super;
  }

  .card__text {
    padding: 10px;
  }

  .card__btn {
    margin: 15px;
  }
}

@media (max-width: 500px) {
  div.map {
    margin-top: 0;
    height: 400px;
  }

  section.contact-form {
    padding: 0;
  }
}